/* .navbar{
     background-color: rgb(186, 0, 8);
     padding: 10px;
     display: flex;
     justify-content: space-between;
}
.leftnavbar{
     margin-left: 120px;
}
.rightnavbar{
     margin-right: 60px;
     display: flex;
     color: white;
}
.rightnavbar p{
     margin-right: 30px;
} */